/.idea/
/code/wiki2beamer.pyc
/doc/examples/advanced.aux
/doc/examples/advanced.log
/doc/examples/advanced.nav
/doc/examples/advanced.out
/doc/examples/advanced.pdf
/doc/examples/advanced.snm
/doc/examples/advanced.toc
/doc/examples/beamer.aux
/doc/examples/beamer.log
/doc/examples/beamer.nav
/doc/examples/beamer.out
/doc/examples/beamer.pdf
/doc/examples/beamer.snm
/doc/examples/beamer.toc
/doc/examples/graphics.aux
/doc/examples/graphics.log
/doc/examples/graphics.nav
/doc/examples/graphics.out
/doc/examples/graphics.pdf
/doc/examples/graphics.snm
/doc/examples/graphics.toc
/doc/examples/version0_4.aux
/doc/examples/version0_4.log
/doc/examples/version0_4.nav
/doc/examples/version0_4.out
/doc/examples/version0_4.pdf
/doc/examples/version0_4.snm
/doc/examples/version0_4.toc
/doc/examples/wiki2beamer.tex
/doc/examples/wiki_advanced.tex
/doc/examples/wiki_graphics.tex
/doc/examples/wiki_version0_4.tex
/doc/examples/wiki_version0_7.aux
/doc/examples/wiki_version0_7.log
/doc/examples/wiki_version0_7.nav
/doc/examples/wiki_version0_7.out
/doc/examples/wiki_version0_7.pdf
/doc/examples/wiki_version0_7.snm
/doc/examples/wiki_version0_7.tex
/doc/examples/wiki_version0_7.toc
/tests/example/.example.txt.swp
/tests/example/.Makefile.swp
/tests/example/example.aux
/tests/example/example.log
/tests/example/example.nav
/tests/example/example.out
/tests/example/example.pdf
/tests/example/example.snm
/tests/example/example.tex
/tests/example/example.toc
/tests/example/example.vrb
test_wiki2beamer.pyc